<!-- 登入做在這頁 -->

{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoneyKeeper</title>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/login-template.css' %}" rel="stylesheet">
    <!-- <script src="{% static 'js/login-template.js' %}"></script> -->
</head>

<body>
    <!-- main container -->
    <div class="container">
        <div class="row" id="pwd-container">
            <div class="col-md-4"></div>
            <div class="col-md-4 card card-container">
                <section class="login-form">
                    <h1 class="welcome text-center">{% trans "Welcome to" %}<br> Money Keeper</h1>
                    <form method="post" action="/login/" role="login">
                        {% csrf_token %}
                        <h2 class='login_title text-center'>{% trans "Login" %}</h2>
                        <hr>
                        {% for field in form %}
                            {% if field.id_for_label|lower == 'id_username' %}
                                <input id="{{ field.id_for_label }}" type="email" class="form-control input-lg login_box" name="{{ field.html_name }}" placeholder={% blocktrans %}'Email Address'{% endblocktrans %} required autofocus>
                                {{ form.username.errors }}
                            {% else %}
                                <input id="{{ field.id_for_label }}" type="password" class="form-control input-lg login_box" name="{{ field.html_name }}" placeholder={% blocktrans %} 'Password'{% endblocktrans %} required>
                                {{ form.password.errors }}
                                {{ form.non_field_errors }}
                            {% endif %}
                        {% endfor %}
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">{% trans "Sign in" %}</button>
                        <div class="register-link">
                            <a href="/register/">{% trans "Create account" %}</a> <!--or <a href="#">reset password</a> -->
                        </div>
                    </form>
                </section>
            </div>
            <!-- /card-container -->
            <div class="col-md-4"></div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</body>

</html>
